# Credits to : 
# https://github.com/github/gitignore/blob/master/PlayFramework.gitignore
# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

# Ignore Play! working directory #
db
eclipse
log
logs
precompiled
tmp
test-result
eclipse
server.pid
application.conf

# maybe not recommended, but eclipse keeps complaining about a stupid module that won't commit
modules
/paginate-0.13
