#{extends 'main.html' /}

<!-- Page container -->
<div class="container-fluid">
	<div class="row-fluid">
	
		<!-- Menu -->
		<div class="span3">
			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-header">&{'nav.articles'}</li>
					<li #{if request.action.equals("Articles.index")} class="active"#{/if}>#{a @Articles.index()}&{'nav.articles.index'}#{/a}</li>
					<li #{if request.action.equals("Articles.list")} class="active"#{/if}>#{a @Articles.list()}&{'nav.articles.list'}#{/a}</li>
					<li #{if request.action.equals("Articles.week")} class="active"#{/if}>#{a @Articles.week()}&{'nav.articles.week'}#{/a}</li>
					<li #{if request.action.equals("Articles.cited")} class="active"#{/if}>#{a @Articles.cited()}&{'nav.articles.cited'}#{/a}</li>
					<li #{if request.action.equals("Articles.starred")} class="active"#{/if}>#{a @Articles.starred()}&{'nav.articles.starred'}#{/a}</li>
				</ul>
			</div>
		</div>
		
		<!-- Content -->
		<div class="span9">
			#{doLayout /}
		</div>
	
	</div>
</div>