html,body {
    font-family: $main-font;
    font-size: $main-font-size;
    background-color: $bg-color-1;
    width:100%;
}

#menu {
    background-color: $bg-color-1; /* could be $bg-color-2 here, for an alternative color */
    border-radius: $generic-border-radius;
    padding: 0.3em 1em 0.3em 1em;
    margin-bottom: 0.5em;
    text-align:center;
}

#pagination {
  width:80%;
  margin:auto;
  text-align:left;
}

a, a:visited {
  text-decoration: none;
  color: $link-color;
}

/** Generic button **/
@mixin generic-button($c1, $c2, $c3, $c4, $c5) {
   border: 1px solid $c1;
   background-color: $c2;
   border-radius: 4px;
   box-shadow: inset 0 1px 3px #fff, inset 0 -15px $c4, 0 0 3px $c5;
   -o-box-shadow: inset 0 1px 3px #fff, inset 0 -15px $c4, 0 0 3px $c5;
   -webkit-box-shadow: inset 0 1px 3px #fff, inset 0 -15px $c4, 0 0 3px $c5;
   -moz-box-shadow: inset 0 1px 3px #fff, inset 0 -15px $c4, 0 0 3px $c5;
   color: $c3;
   text-shadow: 0 1px #fff;
   padding: 5px 30px;
}

.push {
  @include generic-button($color-1, $bg-color-4, $color-2, $color-3, $color-4);
}


@import "articles.scss";
@import "pagination.scss";
