@CHARSET "UTF-8";

div.pagination-container {
    margin-bottom: 10px;
    clear: both;
}

ul.pagination {
    border: 0;
    margin: 0;
    padding: 0;
    float: left;
}

.pagination li {
    border: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    border: solid 1px #DBDBDB;
    float: left;
    margin-right : 2px;
}

.pagination .previous-off a,
.pagination .next-off a,
.pagination .off a:link,
.pagination .off a:visited {
}

.pagination .next a, .pagination .previous a, .pagination .first a, .pagination .last a {
    font-weight: bold;
    color: #000000;
}

.pagination .active {
    color: #000000;
    background-color: #FFFF99;
    font-weight : bold;
}

.pagination a:link, .pagination a:visited {
    display : block;
    float: left;
    padding: 3px 6px;
    text-decoration: none;
    font-family: monospace;
}

.pagination a:hover {
    text-decoration: none;
}

.summary {
    font-family: monospace;
    color: #000000;
}