<div class="hero-unit">
	<h1>&{'app.name'}</h1>
	<p><i>Yet Another Articles DataBase</i></p>
	*{ *** Login *** }*
	#{form @Application.login()}
		<!-- Log in -->
		<input placeholder="&{'user.login'}" type="text" name="username" id="username" />
		<input placeholder="&{'user.password'}" type="password" name="password" />
		<input type="hidden" name="remember" id="remember" value="true" />
		<button type="submit" class="btn btn-success"><i class="icon-fire icon-white"></i> &{'auth.login'}</button>
	#{/form}
	*{ *** Register *** }*
	#{if enableRegistration}
		<a class="btn btn-primary" href="@{Application.registerForm()}"><i class="icon-user icon-white"></i> &{'auth.register'} </a>
	#{/if}
</div>